html, body{height:100%; margin:0;padding:0}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.help-block.error {color: red;}
.help-block.success {color: green;}

aside {
    float: left;
    width: 200px;
}
section {
    margin-left: 220px;
    padding-bottom: 50px;
}

table.text-table th:nth-child(2){
    width: 10%;
}

table.balance th:nth-child(3),
table.balance th:nth-child(1) {width: 45%;}

table.balance th, table.balance td {text-align: center;}

.preview img {max-width: 200px}

.actions {
    width: 15%;
}

.filter ul {list-style: none; padding: 0; margin: 0; overflow-y: scroll; height: 140px;}
.filter ul li {border-bottom: 1px #333 dashed; margin-bottom: 2px; padding-bottom:2px;}
.filter ul li label {margin-bottom: 0;}

#tourtype .btn,
#user-name .btn {display: block; margin-bottom: 5px;}

#code table th:nth-child(1),
#password table th:nth-child(1) {width: 30px; }

table#tasks td,
table#tasks th {text-align: center;}
table#tasks .col1 {min-width: 245px;}
table#tasks .col2 {}
table#tasks .col3 {min-width: 255px;}
table#tasks .col4 {min-width: 210px;}
table#tasks .col5 {}