    /*---------Accordion--------*/

#accordion {
    max-width: 1000px;
    margin: 0 auto 25px;
}

#accordion .panel-default  {
    border: none;
    border-radius: 8px;
    /*background: #ffe1c9;*/
}

/*Accordion panel-head*/
#accordion .panel-heading {
    background: #ffe1c9;
    border-radius: 8px;
    border: 2px solid #ff790b;
    padding: 0;
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
    /*height: 60px;*/
}

#accordion .panel-heading.open-accordion {
    background: #ff790b;
}

#accordion .panel-heading > .panel-title {
    font: 1.3em Arial;
    font-weight: bold;
    color: #000;
    margin: 0;
}

#accordion .panel-heading > .panel-title a {
    display: block;
    padding: 12px 0;
}

#accordion .panel-heading.open-accordion > .panel-title {
    color: #fff;
}
.marginTop{
    margin-top: 8px;
}
.hideButton{
    font-size: 1.4em;
    border-bottom: 2px dashed #000;
    width: 79px;
    padding-left: 8px;
    font-family: arial;
}
@media (max-width: 635px) {
    .marginTop{
        margin-top: -2px;
    }
    #accordion .threeHead{
        /*height: 85px;*/
    }
    .marginTopFive{
        margin-top: 7px;
    }
}
@media (min-width: 635px) {
    #accordion .panel-heading > .panel-title {
        font-size: 0.8em;
    }
}

@media (min-width: 690px) {
    #accordion .panel-heading > .panel-title {
        font-size: 0.85em;
    }
}

@media (min-width: 768px) {
    #accordion .panel-heading > .panel-title {
        font-size: 1.5em;
        /*font-size: 1.08em;*/
    }
}

#accordion .panel-heading > .panel-title a:focus,
#accordion .panel-heading > .panel-title a:hover{
    text-decoration: none;
}

.panel-text {
    display: inline-block;
    width: 90%;
}

@media (min-width: 768px) {
    .panel-text {
        width: 73%;
    }
}

@media (min-width: 992px) {
    .panel-text {
        width: 90%;
    }
}

.panel-direction {
    display: inline-block;
    width: 18px;
    height: 9px;
    background: url("../../img/accordion-arrows.png") no-repeat;
    background-position: 0 0;
    vertical-align: top;
    margin-top: 13px;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

@media (min-width: 381px) {
    .panel-direction  {
        margin-top: 7px;
    }
}

@media (min-width: 768px) {
    .panel-direction  {
        margin-top: 13px;
        margin-right: 4px;
    }
}

@media (min-width: 992px) {
    .panel-direction  {
        margin-top: 7px;
    }
}

#accordion .panel-heading.open-accordion > .panel-title .panel-direction  {
    background-position: 0 -9px;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

/*Accordion panel-body*/
#accordion .panel-body {
    border: 2px solid #FF790B;
    border-radius: 5px;
    min-height:  500px;
}

@media (min-width: 1200px) {
    #accordion .panel-body {
        padding: 17px;
    }
}

#accordion .panel-body > ul {
    padding-left: 10px;
    margin-left: 4px;
}

#accordion .panel-body > ul li,
#accordion .panel-body > p {
    font: 0.8em Arial;
    margin-bottom: 8px;
}

#accordion .panel-body > p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    #accordion .panel-body > ul li,
    #accordion .panel-body > p {
        font-size: 1.1em;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    #accordion .panel-body > ul li,
    #accordion .panel-body > p {
        font-size: 1.2em;
        line-height: 1.3em;
        margin-bottom: 20px;
    }
}

#accordion .panel-body > p:nth-child(2) {
    margin-bottom: 0;
}

#collapseOne .panel-body > ul li:last-child {
    margin-bottom: 0;
}

#accordion .panel-body .attention-block {
    background: #fff;
    color: #e3591c;
    border: 2px solid #ff790b;
    padding: 15px;
    font: 0.8em Arial;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    #accordion .panel-body .attention-block {
        font-size: 1.1em;
        margin-left: 4%;
        width: 48%;
        padding-bottom: 33px;
    }

    #accordion .panel-body .attention-block:first-child {
        margin-left: 0;
        padding-bottom: 15px;
    }
}

@media (min-width: 992px) {
    #accordion .panel-body .attention-block {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    #accordion .panel-body .attention-block {
        margin-bottom: 20px;
    }
}

#collapseThree .panel-body  > .row {
    margin: 0;
}

.travel-agent-block {
    background: #fff;
    padding: 10px
}

.travel-agent-block ul {
    list-style-type: none;
}

.single-agent-list {
    margin-bottom: 0;
}

.travel-agent-block ul li > a {
    color: #000;
    text-decoration: underline;
    font: 0.8em Arial;
}

.travel-agent-block ul li > a:hover {
    color: #ff790b;
}

.travel-agent-block ul li > a:active {
    color: rgba(255, 121, 11, 0.8);
}

@media (min-width: 768px) {
    .travel-agent-block ul li > a {
        font-size: 1.1em;
    }
}

@media (min-width: 992px) {
    .travel-agent-block ul li > a {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

#load-more {
    background: #ff790b;
    width: 30px;
    margin: 10px auto 0;
}

.btn-default#load-more {
    color: #fff;
    font-size: 10px;
}