@import "toggler.css" handheld, screen;

header {
    width: 90%;
}

@media (min-width: 768px)  {
    header {
        width: 766px;
    }
}

@media (min-width: 992px){
    header {
        width: 974px;
    }
}

@media (min-width: 1200px) {
    header {
        width: 1182px;
    }
}

header .toggle-left {
    margin-left: -6px;
}

@media (min-width: 360px) {
    header .toggle-left {
        margin-left: 6px;
    }
}

.logo {
    display: inline-block;
    padding-top: 13px;
    width: 220px;
    margin-left: 1%;

}

.touragentam-dashboard .logo{
    float:left;
    margin-left: -20px
}

header .breadcrumbs {
    float: left;
    width: 350px;
    margin-left: 20px;
    padding-top: 35px;
}

header .breadcrumbs span,
header .breadcrumbs a {
    display: inline-block;
    font-size: 13px;
    line-height: 1em;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

header .breadcrumbs a.link-now {
    color: #f37c1b;
}


@media (min-width: 360px) {
    .logo {
        margin-left: 3%;
        width: 240px;
    }
}

@media (min-width: 430px) {
    .logo {
        margin-left: 15%;
    }
}

@media (min-width: 550px) {
    .logo {
        margin-left: 25%;
    }
}

@media (min-width: 768px) {
    .logo {
        padding-top: 18px;
        width: 640px;
        margin-left: 4%;
    }
    .touragentam-dashboard .logo{
        width: 370px;
        margin-left: -20px;
    }
}

@media (min-width: 992px) {
    .logo {
        display: block;
        width: 655px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .turoperatoram .logo,
    .turagentam .logo {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
    }
}

.logo:hover {
    text-decoration: none;
}

.logo img {
    width: 220px;
}

@media (min-width: 360px) {
    .logo img{
        width: 240px;
    }
}

@media (min-width: 768px) {
    .logo img {
        width: 370px;
        vertical-align: sub;
    }
    .turoperatoram header .logo img,
    .turagentam header .logo img {
        width: 340px;
        vertical-align: sub;
    }
}

.logo h1 {
    color: #fd8625;
    font: 1.01em Arial;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
}

@media (min-width: 768px) {
    .logo h1 {
        font-size: 1.7em;
        display: inline-block;
        padding-left: 25px;
        margin: 0;
        height: 57px;
        vertical-align: middle;

    }
}

h1.text-logo {
    color: #000;
    font-size: 1em;
    padding-left: 0;
}

@media (min-width: 768px) {
    .logo h1.text-logo{
        width: 40%;
        height: 35px;
        font-size: 1em;
        text-align: left;
        padding-left: 15px;
        vertical-align: super;
    }
}

@media (min-width: 992px) {
    .logo h1.text-logo{
        width: 50%;
        height: auto;
        font-size: 1.5em;
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .turoperatoram header .logo img,
    .turagentam header .logo img {
        float: left;
    }
    .turoperatoram header .logo h1.text-logo,
    .turagentam header .logo h1.text-logo{
        position: relative;
        width: auto;
        text-align: left;
        vertical-align: super;
        float: left;
        width: 800px;
        bottom: 0;
    }
    .logo h1.text-logo{
        width: auto;
        text-align: center;
        vertical-align: super;
        position: relative;
        bottom: 6px;
    }
}

@media (max-width: 992px) {
    .touragentam-dashboard .logo {
        float: none;
        margin-left: 0;
    }
}

@media (max-width: 768px) {


    .touragentam-dashboard header {
        padding-bottom: 20px;
    }
    .touragentam-dashboard .logo {
        padding-top: 17px;
        margin-left: 3px;
    }
}