/*Sidebar menu*/

[off-canvas*=left] #side-menu {
    margin: 0;
}

[off-canvas*=left] #side-menu > li {
    margin: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.57);
}

[off-canvas*=left] #side-menu > li > a {color: #000000; line-height: 60px; padding: 0; text-align: center;}
[off-canvas*=left] #side-menu > li.active > a { color: #ffffff;}

[off-canvas*=left] #side-menu > li.active,
[off-canvas*=left] > #side-menu > li > a:focus,
[off-canvas*=left] > #side-menu > li > a:hover {
    background: #ed791a;
    border-color: #ed791a;
    color: #ffffff;
}

.navbar-nav {
  display: table;
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
}

.navbar-nav li {
	display: table-cell;
}

@media (max-width: 1200px) {
	.navbar-nav {
		max-width: 100%;
	}
}

@media (max-width: 992px) {
  .navbar-nav li {
    display: block;
  }
}