#wrapper {
    max-width: 1000px;
    border: solid 1px #e8e8e8;
    margin: 0 auto;
}
#wrapper div {
    display:none;
}

#wrapper a.tab:focus {outline: none; border: none;}

#wrapper a.tab {
    color: black;
    line-height: 1em;  
    padding: 20px 10px;
    display: block;
    width: 33.3%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    float: left;
    background-color: #e8e8e8;
    margin-bottom: 10px;
}
#wrapper h4{
    font-weight: bold;
    margin-left: 40px;
}
#wrapper p{
    margin-bottom: 30px;
    margin-left: 40px;
}
#wrapper .tab-rules p {
    margin-bottom: 10px;
}
#wrapper .tab-rules li > p {
    margin-left: 0;
}
#wrapper .tab-rules .detail-block {
    color: #3da3ef;
    border-bottom: 2px dashed #3da3ef;
    cursor: pointer;
}

#secondTab,
#threeTab{
    line-height: 40px;
}
#wrapper.tab1 div.tab1 {
    display:block;
    width:100%;
    clear: both;
}
#wrapper.tab-rules div.tab-rules {
    display:block;
    width:100%;
}
#wrapper.tab-partners div.tab-partners {
    display:block;
    width:100%;
}
#wrapper.tab-articles div.tab-articles {
    display:block;
    width:100%;
}
#wrapper a.tab.active {
    color: black;
    background-color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 768px){
    #rule-tab{
         width: 100%;
    }
    #wrapper {
        width: 100%;
        border: solid 1px #e8e8e8;
    }
    #wrapper a.tab{
        float: left;
        width: 100%;
        margin-bottom: 0px;
    }

    a#threeTab{
        margin-bottom: 20px;
    }
}