<div class="row price">
    <div class="col-md-3">
        <div class="form-group has-feedback">
            <select name="offer[priceType][]" class="form-control" data-bv-field="offer[priceType][]">
                <option value="" selected="selected"></option>
                <option value="0">Штатная продажа</option>
                <option value="1">Раннее бронирование</option>
                <option value="2">Горящий тур</option>
            </select>
            <i class="form-control-feedback" data-bv-icon-for="offer[priceType][]" style="display: none; top: 0px;"></i>  <small class="help-block" data-bv-validator="callback" data-bv-for="offer[priceType][]" data-bv-result="NOT_VALIDATED" style="display: none;">Вам необходимо выбрать режим продажи тура!</small>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-feedback">
            <input name="offer[price][]" class="form-control" type="text" data-bv-field="offer[price][]">
            <i class="form-control-feedback" data-bv-icon-for="offer[price][]" style="display: none; top: 0px;"></i>
            <small class="help-block" data-bv-validator="callback" data-bv-for="offer[price][]" data-bv-result="NOT_VALIDATED" style="display: none;">Вам необходимо ввести стоимость тура!</small>
        </div>
    </div>
</div>