<div class="title">Начало тура: 
    <span class="value date">
        <%=startDate%>
    </span>
</div>

<div class="title">Окончание тура, условия обслуживания: 
    <span class="value date">
        <%=endDate%>
    </span>
</div>

<div class="title">Описание тура:
    <p>
        <%=description%>
    </p>
</div>

<div class="title clrfix">Стоимость тура на момент его выбора: 
    <span class="value money">
        <%=price%>
    </span>
</div>

<div class="title">Стоимость тура на сегодня: 
    <span class="value money">
        <%=price%>
    </span>
</div>

<div class="title">Стартовая предоплата: 
    <span class="value money">
        <%=oldPrepayment%>
    </span>
</div>

<div class="title">Предоплата при бронировании тура <span>на момент его выбора/редактирования:</span></div>

<div class="title">к внесению: 
    <span class="value money">
        <%=bookingPrepayment%>
    </span>
</div>

<div class="title">внесено: 
    <span class="value money">
        <%=bookingPrepaymentPaid%>
    </span>
</div>

<div class="title sell red">Общая скидка:
    <a href="#" class="more">подробнее</a>
    <span class="value money">
        <%=totalDiscount%>
    </span>
</div>

<div class="title row hidden-row bg-grey">
    <label class="col-md-8">Стартовая абонентская скидка:</label>
    <div class="col-md-4 ta-r"><%=minDiscount%></div>
</div>

<div class="title row hidden-row bg-grey">
    <label class="col-md-8">Добавочная абонентская скидка:</label>
    <div class="col-md-4 ta-r"><%=abonentDiscount%></div>
</div>

<div class="title row hidden-row bg-grey">
    <label class="col-md-8">Максимально возможная абонентcкая скидка:</label>
    <div class="col-md-4 ta-r"><%=maxDiscount%></div>
</div>

<div class="title row hidden-row bg-grey">
    <label class="col-md-8">Скидка за привлечение:</label>
    <div class="col-md-4 ta-r"><%=partnerDiscount%></div>
</div>

<div class="title">Доплата при покупке тура <span>с учётом его стоимости на момент выбора:</span> 
    <span class="value money">
        <%=surchange%>
    </span>
</div>

<% if(bookingEndDate) { %>
<div class="title clrfix">Конечная дата внесения предоплаты при бронировании тура: 
    <span class="value money">
        <%=bookingEndDate%>
    </span>
</div>
<% } %>

<div class="title clrfix">Конечная дата оплаты тура: 
    <span class="value money">
        <%=paymentEndDate%>
    </span>
</div>
