<div class="item edit">

    <h4>ПРЕДЛОЖЕНИЕ_№<%= num %></h4>

    <div class="editBlock">

        <div class="inner-block form-group">
            <label>Туроператор:</label>
            <select class="operator" name="TourOffer[<%= num %>][operatorId]" data-bv-field="operator"><%= operatorOptions %></select>
        </div>

        <h4>ОПИСАНИЕ ТУРА:</h4>
        
        <div class="inner-block form-group">
            <label>Страна:</label>
            <input class="country" type="text" value="" name="TourOffer[<%= num %>][country]" data-bv-field="country">
        </div> 
        
        <div class="inner-block form-group">
            <label>Город/Регион:</label>
            <input class="city" type="text" value="" name="TourOffer[<%= num %>][city]" data-bv-field="city">
        </div>
        
        <div class="inner-block form-group">
            <label>Дата начала тура:</label>
            <input class="startDate" type="text" value="" name="TourOffer[<%= num %>][startDate]" data-bv-field="startDate">
        </div>
        
        <div class="inner-block form-group">
            <label>Дата окончания тура:</label>
            <input class="endDate" type="text" value="" name="TourOffer[<%= num %>][endDate]" data-bv-field="endDate">
        </div>

        <div class="inner-block form-group">
            <label>Конечная дата оплаты тура:</label>
            <input class="paymentEndDate" type="text" value="" name="TourOffer[<%= num %>][paymentEndDate]" data-bv-field="paymentEndDate">
        </div>

        <div class="inner-block form-group">
            <label>Исходная стоимость тура:</label>
            <input class="price" type="text" value="" name="TourOffer[<%= num %>][price]" data-bv-field="price">
        </div>

        <div class="inner-block form-group">
            <textarea class="description" name="TourOffer[<%= num %>][description]" data-bv-field="description"></textarea>
        </div>
        <p><a href="#" class="add addOffer">+ ещё одно предложение</a></p>
        <p><a href="#" class="add deleteOffer">- удалить предложение</a></p>
        <button type="submit" class="btn btn-default btn-green2 save">РАЗМЕСТИТЬ ПРЕДЛОЖЕНИЕ</button>
    </div>
</div>