<div class="item edit">

    <h4>ПРЕДЛОЖЕНИЕ_№<%= num %></h4>

    <div class="editBlock">

        <div class="inner-block form-group">
            <label>Туроператор:</label>
            <select class="operator" name="TourOffer[<%= num %>][operatorId]" data-bv-field="operator"><%= operatorOptions %></select>
        </div>

        <h4>ОПИСАНИЕ ТУРА:</h4>
        
        <div class="inner-block form-group">
            <label>Начало тура:</label>
            <input class="startDate" type="text" value="" name="TourOffer[<%= num %>][startDate]" data-bv-field="startDate">
        </div>
        
        <div class="inner-block form-group">
            <label>Окончание тура:</label>
            <input class="endDate" type="text" value="" name="TourOffer[<%= num %>][endDate]" data-bv-field="endDate">
        </div>

        <div class="inner-block form-group">
            <label>Описание тура:</label>
            <textarea class="description" name="TourOffer[<%= num %>][description]" data-bv-field="description"></textarea>
        </div>

        <div class="inner-block form-group">
            <label>Выберите валюту:</label>
            <select class="currencyUnit" name="TourOffer[<%= num %>][currencyUnit]" data-bv-field="currencyUnit">
                <option value="usd">Доллары</option>
                <option value="eur">Евро</option>
                <option value="byn">Белорусские рубли</option>
            </select>
        </div>

        <div class="inner-block form-group">
            <label>Стоимость тура на момент отправки предложения:</label>
            <input class="currency" type="text" value="" name="TourOffer[<%= num %>][currency]" data-bv-field="currency">
        </div>

        <div class="inner-block form-group">
            <label>Предоплата при бронировании тура на момент отправки предложения:</label>
            <input class="bookingPrepayment" type="text" value="" name="TourOffer[<%= num %>][bookingPrepayment]" data-bv-field="bookingPrepayment">
        </div>

        <div class="inner-block form-group">
            <label>Конечная дата внесения предоплаты при бронировании тура:</label>
            <input class="bookingEndDate" type="text" value="" name="TourOffer[<%= num %>][bookingEndDate]" data-bv-field="bookingEndDate">
        </div>

        <div class="inner-block form-group">
            <label>Конечная дата оплаты тура:</label>
            <input class="paymentEndDate" type="text" value="" name="TourOffer[<%= num %>][paymentEndDate]" data-bv-field="paymentEndDate">
        </div>
        
        <p><a href="#" class="add addOffer">+ ещё одно предложение</a></p>
        <p><a href="#" class="add deleteOffer">- удалить предложение</a></p>
        <button type="submit" class="btn btn-default btn-green2 save">РАЗМЕСТИТЬ ПРЕДЛОЖЕНИЕ</button>
    </div>
</div>