<div class="row">
    <label class="col-md-8">Начало тура:</label>
    <div class="col-md-4"><%=startDate%></div>
</div>
<div class="row">
    <label class="col-md-8">Окончание тура:</label>
    <div class="col-md-4"><%=endDate%></div>
</div>
<div class="row">
    <label class="col-md-8">Исходная стоимость тура:</label>
    <div class="col-md-4"><%=price%></div>
</div>
<div class="row">
    <label class="col-md-8">Расчётная предоплата:</label>
    <div class="col-md-4"><%=prepayment%></div>
</div>
<div class="row red">
    <label class="col-md-8">Общая скидка:</label>
    <div class="col-md-4"><%=totalDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Доплата при покупке тура:</label>
    <div class="col-md-4"><%=surchange%></div>
</div>
<div class="row">
    <label class="col-md-8">Стартовая абонентская скидка:</label>
    <div class="col-md-4"><%=minDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Текущая абонентская скидка:</label>
    <div class="col-md-4"><%=currentAbonentDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Суммарная абонентская скидка:</label>
    <div class="col-md-4"><%=totalAbonentDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Скидка за привлечение:</label>
    <div class="col-md-4"><%=partnerDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Максимальная абонентская скидка:</label>
    <div class="col-md-4"><%=maxAbonentDiscount%></div>
</div>
<div class="row">
    <label class="col-md-8">Доплата при максимальной абонентской скидке:</label>
    <div class="col-md-4"><%=surchangeOnMaxAbonentDiscount%></div>
</div>