#rule-tab{
     /*width: 1000px;*/
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 29px;
}
#wrapper .tabs-block {
    display:none;
}
#wrapper h4{
    font-weight: bold;
    margin-left: 40px;
}
#wrapper p{
    margin-bottom: 30px;
    margin-left: 40px;
}
#wrapper a.tab {
    color: black;
    line-height: 1em;  
    padding: 17px 0;
    display: inline-block;
    width: 33.3%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    background-color: #e8e8e8;
    /*margin-bottom: 30px;*/
}

#wrapper .tabs-link {
    text-align: center;
}

#wrapper .tabs-link a {
    width: 141px;
    height: 51px;
    background-color: #fb7b00;
    margin-left: 12px;
    font-size: 14px;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid #fb7b00;
}
#wrapper .tabs-link a:first-child {
    margin-left: 0;
}

#wrapper .tabs-link a:hover,
#wrapper .tabs-link a:focus {
    opacity: 0.9;
}

#wrapper .tabs-link a.active {
    background-color: #fddaba;
    color: #000;
    border: 2px solid #fb7b00;
}

#wrapper .info-block {
    display: table;
    clear: left;
    width: 600px;
    margin: 0 auto;
}

#wrapper .info-block .inner-block {
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 28px;
    padding: 20px 15px;
}

#wrapper .info-block .inner-block p,
#wrapper .info-block .inner-block h4 {
    margin: 0;
    padding: 0;
}

#wrapper .info-block .inner-block h4 {
    margin-bottom: 24px;
}

#wrapper .info-block .inner-block p {
    color: #6c6c6c;
}

#wrapper .info-block .inner-block form .form-block {
    width: 50%;
    float: left;
}

#wrapper .info-block .inner-block form label{
    font-size: 14px;
    font-weight: 400;
}

#wrapper .info-block .inner-block form input[type="text"] {
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #a8a8a8;
    width: 100%;
    padding: 4px 11px;
    font-size: 12px;
}

#wrapper .info-block .inner-block form input[type="submit"] {
    padding: 12px 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    border: 0 none;
    background: rgba(68,187,50,1);
    background: -moz-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,187,50,1)), color-stop(100%, rgba(20,135,0,1)));
    background: -webkit-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -o-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: linear-gradient(to bottom, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bb32', endColorstr='#148700', GradientType=0 );
    float: right;
    width: 48%;
    margin-top: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wrapper .info-block .inner-block form input[type="submit"]:hover {
    background: rgba(20,135,0,1);
    background: -moz-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,135,0,1)), color-stop(100%, rgba(68,187,50,1)));
    background: -webkit-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -o-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: linear-gradient(to bottom, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148700', endColorstr='#44bb32', GradientType=0 );
}

#wrapper .bottom-link {
    position: relative;
    bottom: -20px;
    display: block;
    background: url('../../../img/bottom-link-bg.png') 50% 0 repeat;
    width: 900px;
    height: 50px;
    float: none;
    padding: 0;
    margin: 0 auto;
}

#wrapper .tabs-block {
    position: relative;
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 15px;
    width: 600px;
    margin: 28px auto 0;
}

#wrapper .inner-block {
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
    font-size: 17px;
}

#wrapper .tabs-block.tab1 {
    border: 0 none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

#wrapper .tabs-block-inner {
    position: relative;
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 15px;
    width: 600px;
    margin: 28px auto 0;
    text-align: center;
}

#wrapper .tabs-block-inner .glyphicon-trash {
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
    color: red;
    font-size: 14px;
}

#wrapper .head-inner-block {
    position: relative;
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 5px;
    margin-bottom: 20px;
}

#wrapper .head-inner-block:first-child {
    border: 0 none;
    padding: 0;
}

#wrapper .tabs-block.tab1 .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

#wrapper .tabs-block.tab1 .sub-title {
    display: block;
    font-size: 22px;
    font-weight: 400;
}

#wrapper h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#wrapper .tabs-block.tab1 .request-head-block {
    margin-top: 35px;
}

#wrapper .tabs-block.tab1 .request-head-block .inner-block.full {
    width: 100%;
    float: none;
    clear: both;
    margin-top: 15px;
}

#wrapper .tabs-block.tab1 select {
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #a8a8a8;
    padding: 2px 20px 2px 11px;
    font-size: 17px;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url('../../../img/arrow.png') 99% 50% no-repeat;
}

#wrapper .view .request-head-block label {display: inline;}

#wrapper label {
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
}

#wrapper .tabs-block.tab1 .request-head-block input {
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #000;
    padding: 4px 11px;
    font-size: 12px;
    display: block;
    margin-bottom: 2px;
}

#wrapper .tabs-block.tab1 .request-head-block input.days {
    width: 50px;
    float: left;
}

#wrapper .tabs-block.tab1 .request-head-block input.little {
    width: 146px;
    float: left;
    margin-left: 10px;
}

#wrapper .tabs-block.tab1 .request-head-block .add {
    display: block;
    background: none;
    font-size: 17px;
    line-height: 1em;
    color: #ff902f;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: left;
    text-transform: lowercase;
    font-weight: 400;
    float: initial;
}

#wrapper .tabs-block.tab1 .inner-block .clients-link {
    display: block;
    padding: 14px 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    border: 0 none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;
    float: none;
    height: 45px;
    margin-top: 15px;
    text-decoration: none;
}

#wrapper .tabs-block.tab1 .request-head-block span {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    float: left;
    margin-left: 10px;
}

#wrapper .tabs-block.tab1 .request-head-block .inner-block.full span {
    margin-top: 13px;
}

#wrapper .tabs-block.tab1 .request-head-block .inner-block.full input {
    margin-top: 13px;
}

#wrapper .tabs-block.tab1 .request-head-block label.big {
    display: inline-block;
    width: 180px;
    float: left;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}

#wrapper .tabs-block.tab1 .request-head-block .inner-block.full input[type="submit"] {
    width: 235px;
    height: 44px;
    margin: 0 auto;
    background: rgba(68,187,50,1);
    background: -moz-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,187,50,1)), color-stop(100%, rgba(20,135,0,1)));
    background: -webkit-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -o-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: linear-gradient(to bottom, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bb32', endColorstr='#148700', GradientType=0 );
    border: 0 none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

#wrapper .tabs-block.tab1 .request-head-block .inner-block.full input[type="submit"]:hover {
    background: rgba(20,135,0,1);
    background: -moz-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,135,0,1)), color-stop(100%, rgba(68,187,50,1)));
    background: -webkit-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -o-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: linear-gradient(to bottom, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148700', endColorstr='#44bb32', GradientType=0 );
}

#wrapper .send-block .arrow-ok {
    display: block;
    background: url('../../../img/arrow_ok.jpg') 0 0 no-repeat;
    width: 67px;
    height: 56px;
    margin: 0 auto;
}

 #wrapper .send-block h2 {
    font-size: 24px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
}

#wrapper .send-block p {
    font-size: 24px;
}

#wrapper .tabs-block.tab1 .inner-block .clients-link:first-child {
    margin-top: 0;
}

#wrapper .tabs-block.tab1 .inner-block .clients-link.blue {
    background-color: #365697;
}

#wrapper .tabs-block.tab1 .inner-block .clients-link.red {
    background-color: #a4355f;
}

#wrapper .tabs-block.tab1 .inner-block .clients-link.green {
    background-color: #45ac44;
}

#wrapper .tabs-block.tab1 .inner-block .users-block {
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 18px 10px;
}

#wrapper .tabs-block.tab1 .inner-block .users-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#wrapper .tabs-block.tab1 .inner-block .users-block .name {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    color: #000;
    font-weight: 600;
    float: left;
    width: 145px;
    padding-left: 15px;
    margin-top: 15px;
}

#wrapper .tabs-block.tab1 .inner-block .users-block .name:before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #90204d;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

#wrapper .tabs-block.tab1 .inner-block .users-block .date {
    display: inline-block;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    float: right;
    width: 90px;
    text-indent: 0;
    text-align: right;
    margin-top: 15px;
}


#wrapper .tabs-block.tab1 .inner-block .users-block ul li:first-child .date,
#wrapper .tabs-block.tab1 .inner-block .users-block ul li:first-child .name {
    margin-top: 0;
}

#wrapper .tabs-block.tab1 .inner-block .sign-in {
    border: 2px solid #fb7b00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 18px 10px;
    margin-top: 17px;
}

#wrapper .tabs-block.tab1 .inner-block .sign-in input[type="password"],
#wrapper .tabs-block.tab1 .inner-block .sign-in input[type="text"] {
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #a8a8a8;
    width: 100%;
    padding: 4px 11px;
    font-size: 12px;
    margin-top: 10px;
}

#wrapper .tabs-block.tab1 .inner-block .sign-in input[type="submit"] {
    padding: 12px 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    border: 0 none;
    background: rgba(68,187,50,1);
    background: -moz-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,187,50,1)), color-stop(100%, rgba(20,135,0,1)));
    background: -webkit-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -o-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: linear-gradient(to bottom, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bb32', endColorstr='#148700', GradientType=0 );
    width: 100%;
    margin-top: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wrapper .tabs-block.tab1 .inner-block .sign-in input[type="submit"]:hover {
    background: rgba(20,135,0,1);
    background: -moz-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,135,0,1)), color-stop(100%, rgba(68,187,50,1)));
    background: -webkit-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -o-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: linear-gradient(to bottom, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148700', endColorstr='#44bb32', GradientType=0 );
}

#wrapper .tabs-block.tab2 .form-block {
    width: 47%;
    margin-left: 2%;
    float: right;
    min-height: 55px;
}

#wrapper .tabs-block.tab2 .form-block.five,
#wrapper .tabs-block.tab2 .form-block.third,
#wrapper .tabs-block.tab2 .form-block.first {
    margin-left: 0;
    float: left;
}

#wrapper .tabs-block.tab2 .form-block label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

#wrapper .tabs-block.tab2 .form-block input {
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #a8a8a8;
    width: 100%;
    padding: 4px 11px;
    font-size: 12px;
}

#wrapper .tabs-block.tab2 h4,
#wrapper .tabs-block.tab4 h4,
#wrapper .tabs-block.tab3 h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

#wrapper .tabs-block.tab2 p,
#wrapper .tabs-block.tab4 p,
#wrapper .tabs-block.tab3 p {
    color: #6c6c6c;
    margin: 0;
    padding: 0;
}

#wrapper .tabs-block.tab5 {
    width: 600px
}

#wrapper .tabs-block.tab5 h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
}

#wrapper .tabs-block.tab5 p {
    color: #6c6c6c;
    margin: 0;
    padding: 0;
}

#wrapper .tabs-block.tab5 span {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

#wrapper .tabs-block.tab5 span.value {
    display: inline-block;
}

#wrapper .tabs-block.tab5 span.value.date {
    float: right;
}

#wrapper .tabs-block.tab5 span.value.money {
    display: block;
    padding-right: 66px;
    text-align: right;
}

#wrapper .tabs-block.tab5 span.sell {
    color: #F90000;
}


#wrapper .tabs-block.tab6 h5,
#wrapper .tabs-block.tab6 h4 {
    margin: 0;
    padding: 0;
}

#wrapper .tabs-block.tab6 h4 {
    margin-bottom: 10px;
}

#wrapper .tabs-block.tab6 span {
    display: inline-block;
    color: #000;
    width: 200px;
}

#wrapper .bottom-block.tourists {
    width: 100%;
    margin-top: 20px;
}

#wrapper .bottom-block.tourists .sell-block {
    background-color: #fddaba;
    text-align: center;
    padding: 35px 0;
}

#wrapper .bottom-block.tourists .sell-block h4 {
    text-transform: uppercase;
    text-align: center;
    color: #FF2604;
    font-size: 24px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#wrapper .bottom-block.tourists .sell-block h4 b {
    font-size: 25px;
}

#wrapper .bottom-block.tourists .sell-block h4 small {
    color: #FF2604;
    font-size: 16px;
    margin-left: 10px;
    text-transform: lowercase;
    font-weight: 700;
}

#wrapper .bottom-block.tourists .end-sell {
    background-color: #0F6196;
    padding: 30px 0;
    color: #fff;
}

#wrapper .bottom-block.tourists .end-sell .bottom-container {
    max-width: 600px;
    margin: 0 auto;
}

#wrapper .bottom-block.tourists .end-sell .inner-block {
    width: 50%;
    float: left;
}

#wrapper .bottom-block.tourists .end-sell .inner-block h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section {
    float: left;
    display: block;
    width: 60px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section .countdown-amount {
    display: block;
    padding: 8px 3px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;

}

#wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section .countdown-period {
    display: block;
    padding: 1px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 400;
}

#wrapper .bottom-block.tourists .end-sell .bottom-inner-block {
    width: 100%;
    clear: both;
    padding-top: 20px;
    text-align: center;
}

#wrapper .bottom-block.tourists .end-sell .top {
    border-bottom: 1px solid #000;
}

#wrapper .bottom-block.tourists .end-sell input{
    color: #000;
}

#wrapper .bottom-block.tourists .end-sell .bottom-inner-block h4 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

#wrapper .bottom-block.tourists .end-sell .bottom-inner-block h4 b {
    font-size: 26px;
}

#secondTab,
#threeTab{
    line-height: 40px;
}
#wrapper.tab1 div.tab1 {
    display:block;
    clear: left;
}
#wrapper.tab2 div.tab2 {
    display:block;
    clear: left;
}
#wrapper.tab3 div.tab3 {
    display:block;
    clear: left;
}
#wrapper.tab4 div.tab4 {
    display:block;
    clear: left;
}

#wrapper.tab5 div.tab5 {
    display:block;
    clear: left;
}

#wrapper.tab6 div.tab6 {
    display:block;
    clear: left;
}

#wrapper.tab7 div.tab7 {
    display:block;
    clear: left;
}

#wrapper .tabs-block.tab6 .link-to-touragent {
    float: none;
    padding: 0;
    margin: 20px auto 0;
    width: 100%;
    max-width: 280px;
    font-size: 12px;
    font-weight: 400;
    padding: 11px 5px;
    height: 35px;
    background: rgba(68,187,50,1);
    background: -moz-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,187,50,1)), color-stop(100%, rgba(20,135,0,1)));
    background: -webkit-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -o-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    background: linear-gradient(to bottom, rgba(68,187,50,1) 0%, rgba(20,135,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bb32', endColorstr='#148700', GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}

#wrapper .tabs-block.tab6 .link-to-touragent:hover {
    background: rgba(20,135,0,1);
    background: -moz-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,135,0,1)), color-stop(100%, rgba(68,187,50,1)));
    background: -webkit-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -o-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    background: linear-gradient(to bottom, rgba(20,135,0,1) 0%, rgba(68,187,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148700', endColorstr='#44bb32', GradientType=0 );
}
    
/*#wrapper.tab1 a.tab1 {
    color: black;
    background-color: #ffffff;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab2 a.tab2 {
    color: black;
     background-color: #ffffff;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab3 a.tab3 {
    color: black;
     background-color: #ffffff;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}*/
@media (max-width: 500px){
    #rule-tab{
         width: 100%;
    }
    #wrapper {
        width: 100%;
        border: solid 1px #e8e8e8;
    }
    #wrapper a{
        float: left;
        width: 100%;
        margin-bottom: 0px;
    }
    #wrapper.tab1 div.tab1,
    #wrapper.tab2 div.tab2,
    #wrapper.tab3 div.tab3{
        
    }

    a#threeTab{
        margin-bottom: 20px;
    }
}

@media (max-width: 992px)  {
    #rule-tab {
        width: 100%;
        margin-bottom: -40px;
    }

    #wrapper .tabs-link {
        width: 500px;
        text-align: center;
    }

    #wrapper .tabs-link a {
        float: none;
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 6px;
    }
}

@media (max-width: 768px)  {
    #tourist-cabinet {
        padding-bottom: 0 !important;
    }
    .content {
        overflow: scroll;
        overflow-x: hidden;
    }
    #wrapper {
        margin-top: 13px;
        border: 0 none;
        width: 100%;
    }

    #wrapper .tabs-link {
        text-align: center;
        width: 100%;
    }

    #wrapper .tabs-link a {
        width: 115px;
        float: none;
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 6px;
    }

    #wrapper .tabs-link a.tab4,
    #wrapper .tabs-link a.tab6 {
        padding: 11px 0;
    }

    #wrapper .info-block {
        width: 100%;
    }


    #wrapper .bottom-link {
        bottom: -15px;
        width: 100%;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        background-size: 100% auto;
        max-width: 318px;
        margin: 0 auto;
    }

    #wrapper .tabs-block {
        width: 100%;
    }

    #wrapper .info-block .inner-block form .form-block {
        width: 100%;
        float: none;
    }

    #wrapper .info-block .inner-block form input[type="submit"] {
        display: block;
        width: 100%;
        float: none;
        margin: 30px auto;
        max-width: 208px;
    }

    #wrapper .tabs-block.tab1 .inner-block {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-top: 20px;
    }

    #wrapper .tabs-block.tab1 .inner-block:first-child {
        margin-top: 0;
    }

    #wrapper .tabs-block.tab1 .inner-block .clients-link {
        font-size: 14px;
    }

    #wrapper .tabs-block-inner {
        width: 100%;
    }

    #wrapper .tabs-block.tab1 .title {
        margin: 0;
        font-size: 17px;
        margin-bottom: 20px;
    }

    #wrapper .tabs-block.tab1 .sub-title {
        font-size: 16px;
        font-weight: 400;
    }

    #wrapper .tabs-block.tab1 .request-head-block {
        margin-top: 15px;
    }

    #wrapper .tabs-block.tab1 .request-head-block .inner-block.second,
    #wrapper .tabs-block.tab1 .request-head-block .inner-block {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    #wrapper .tabs-block.tab1 .request-head-block select {
        font-size: 14px;
    }

    #wrapper .tabs-block.tab2 .form-block {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    #wrapper .tabs-block.tab1 .request-head-block .add {
        margin-bottom: 10px;
    }

    #wrapper .tabs-block.tab1 .request-head-block label.big {
        width: 100%;
    }

    #wrapper .tabs-block.tab1 .request-head-block .inner-block.full input[type="submit"] {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        padding: 9px 5px;
        height: 35px;
        max-width: 280px;
    }

    #wrapper .tabs-block.tab1 .send-block {
        width: 100%;
    }

    #wrapper .tabs-block.tab1 .send-block h2 {
        font-size: 20px;
    }

    #wrapper .tabs-block.tab1 .send-block p {
        font-size: 15px;
    }

    #wrapper .tabs-block.tab2 p span {
        display: block;
    }

    #wrapper .tabs-block.tab5 {
        width: 100%;
        max-width: 242px;
    }

    #wrapper .tabs-block.tab5 span {
        font-size: 15px;
    }

    #wrapper .tabs-block.tab5 span.value.money {
        padding-right: 30px;
    }

    #wrapper .tabs-block.tab6 span {
        display: block;
        width: 100%;
    }


    #wrapper .bottom-block.tourists {
        margin: 20px -15px;
        width: auto;
    }

    #wrapper .bottom-block.tourists .sell-block {
        padding: 10px 0;
    }

    #wrapper .bottom-block.tourists .sell-block h4 {
        font-size: 17px;
        font-weight: 400;
    }

    #wrapper .bottom-block.tourists .sell-block h4 b {
        display: block;
        margin-top: 10px;
    }

    #wrapper .bottom-block.tourists .sell-block h4 small {
        font-weight: 400;
    }

    #wrapper .bottom-block.tourists .end-sell .bottom-container {
        padding: 0 10px;
    }

    #wrapper .bottom-block.tourists .end-sell .inner-block {
        width: 100%;
    }

    #wrapper .bottom-block.tourists .end-sell .inner-block h4 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time {
        text-align: center;
    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section {
        float: none;
        display: inline-block;
        width: 55px;
        margin-left: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section:first-child {
        margin-left: 0;
    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section .countdown-amount {
        display: block;
        padding: 5px 3px;
        text-align: center;
        background-color: #fff;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        color: #000;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;

    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section .countdown-period {
        display: block;
        padding: 1px;
        text-align: center;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        text-transform: lowercase;
        font-weight: 400;
    }

    #wrapper .bottom-block.tourists .end-sell .countdown-time .countdown-section:last-child .countdown-amount {
        background-color: #FF2604;
        color: #fff;
    }
}
